<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My trips</title>
</head>

<body>
  <header>
    <h1><span>Trip</span>Tracker</h1>
  </header>
  
  <div class="container mainContainer">
    <div class="addTripWrapper">
      <h2>Start planning your next trip</h2>
      <button class="mainAddTripBtn" id="mainBtn">Add trip</button>
    </div>
  </div>
  
    <script>
      // Check that service workers are supported
      if ('serviceWorker' in navigator) {
      // Use the window load event to keep the page load performant
      window.addEventListener('load', () => {
         navigator.serviceWorker.register('/service-worker.js');
      });
      }
    </script>
  
  
</body>
</html>
